:root {
  --main-color: #ffc500;
}

.container_shadow {
  background: #fff;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  width: 100%;
  display: inline-block;
  box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
}

.app_container {
  margin-top: 60px;
}

.top_30 {
  margin-top: 30px;
}

.mb_30 {
  margin-bottom: 30px !important;
}
.p_30 {
  padding: 30px;
}

.pb_45 {
  padding-bottom: 45px;
}

.pt_45 {
  padding-top: 45px;
}

.p_50 {
  padding: 50px;
}
@media (max-width: 991px) {
  .app_container {
    margin-top: 30px;
  }
}

.main-content {
  background-color: #fff;
  min-height: 100vh;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  margin-bottom: 30px;
}

.section_title { 
  position: relative;
  display: inline-block;
  padding: 0 3px;
} 

.section_title .section_title_text {
  font-size: 18px;
  font-weight: 600;
  position: relative;
  margin: 0; 
}

.section .section_title > span {
  background-color: #ffb100 !important;  
  display: block;
  position: absolute;
  height: 7px;
  width: 100%;
  bottom: 0;
  opacity: 0.4;
  left: 0;
  margin-bottom: 5px;
}

.section {
  padding-left: 30px;
  padding-right: 30px;
}

.greybg {
  background-color: #fafafa;
}